# Server configuration
PORT=3000
LOCALE=fr-FR
TZ=Europe/Paris
WUD_URL=http://localhost:3000
GOTIFY_URL=https://gotify.example.com
GOTIFY_WUD_APP_ID=1
GOTIFY_WUD_APP_TOKEN=your-gotify-app-token
GOTIFY_WUD_USER_TOKEN=your-gotify-user-token

# Fail2ban configuration
REDIS_URL=redis://localhost:6379
GOTIFY_FAIL2BAN_URL=https://gotify.example.com
GOTIFY_FAIL2BAN_TOKEN=your-gotify-fail2ban-token